.content {
  // grid-area: 2 / 2 / 7 / 8;
  grid-column: 3 / -1;
  grid-row: 2 / -1;
  // background: $color-white-1;
  background: rgba(0, 0, 0, 0.85);
  padding: 2rem;
  color: rgba(0, 0, 0, 6);

  &__title {
    font-size: 2.5rem;
    // letter-spacing: .5ch;
  }

  &__lists {
    display: flex;
    justify-content: flex-start;
  }
}

.books-page {
  padding: 0;
}
