.icon {
  grid-area: 1 / 1;
  background: darken($color-primary, 2%);
  display: flex;
  justify-content: center;

  &__wrapper {
    align-self: center;
    // clip-path: url("/img/symbol-defs.svg#icon-book-2");

    // // clip-path: polygon(50% 0, 80% 20%, 20% 80%, 65% 20%);
    // clip-path: polygon(83.33% 5px, 93.34% 100.03%, 11.67% 83.08%, 15% -6.17%);
    // background-color: red;
  }

  &__icon {
    height: 6rem;
    width: 6rem;
    fill: $color-secondary;
    padding: 1rem;
  }
}
