.table__container {
  max-width: 100%;
  padding: 2rem 0rem;
  display: grid;
}

.gt {
  border: 1px solid #ccc;
  padding: 0.2rem;
  display: grid;
  min-width: 0;
  border: 1px solid darkgrey;

  &__thead,
  &__body {
    display: grid;
    min-width: 100%;
    grid-auto-flow: column;
    grid-auto-columns: inherit;
  }

  &__thead {
    background-color: #cfdbd5;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid darkgrey;
    border-bottom: transparent;
  }

  &__th {
    position: relative;
    border: 1px solid darken(darkgrey, 5%);
    margin: 0;
    padding: 5px;
    border-right: none;
  }

  &__th-resizer {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: darken(darkgrey, 5%);
    top: 0;
    right: 0;
    cursor: col-resize;
  }

  &__thr,
  &__tr {
    display: grid;
    min-width: 100%;
    grid-auto-columns: inherit;
    grid-auto-flow: column;
  }

  &__tr {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.75);

    border: 1px solid darkgrey;
    border-bottom: transparent;

    &:nth-child(2n) {
      background-color: #e8eddf;
    }

    &:nth-child(2n-1) {
      background-color: #fff;
    }

    &:last-child {
      border-bottom: 1px solid darkgrey;
    }
  }

  &__th,
  &__td {
    min-width: 5rem !important;
  }
}
