$grey: rgba(0, 0, 0, 0.75);

.bp {
  background: $color-white !important;
  padding: 0 !important;
  height: 100%;
  width: 100%;
  font-family: $font-heading;
  font-size: 1.7rem;

  &__container {
    height: 100%;
    width: 100%;
    color: $grey;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    position: relative;
    transition: all 0.2s;

    &--bookdetail {
      background-image: url(/img/paper_2.png);

      background-position: 0px 0px;
      background-repeat: repeat-x;

      animation: animatedBackground 40s linear infinite;
    }

    &--hide-left {
      display: block;
      position: absolute;
      left: -1000rem;
    }
  }
  &__top-menu {
    grid-column: 1 / -1;
    grid-row: 1;
    // background-color: yellow;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  &__dropdown {
    align-items: center;
    align-self: center;
    position: relative;
    display: flex;
    grid-column: 1 / 3;
    justify-self: center;
    cursor: pointer;
    font-weight: bold;

    &--menu {
      position: relative;
      height: 2.2rem;
      width: 2.2rem;
      top: 0.4rem;
      fill: $grey;
    }

    &--author {
      font-family: $font-heading;
      font-size: 2rem;
      font-weight: bold;
      color: $grey;
      margin: 0 1rem;
    }
  }

  &__search {
    &-wrapper {
      transition: max-width 0.4s ease-in;
      display: flex;
      align-content: center;
      align-self: center;
      border-bottom: 1px solid $grey;
      position: absolute;
      top: 3%;
      right: 8%;
      max-width: 20rem;

      &--shrunk {
        max-width: 2.65rem;
      }
    }
    &-icon {
      transition: all 0.3s;
      height: 2rem;
      width: 2rem;
      position: relative;
      top: 0.2rem;
      fill: $grey;
    }
    &-input {
      transition: all 0.3s;
      background: none;
      border: none;
      max-width: 100%;
    }
  }

  &__side-menu {
    grid-column: 1;
    grid-row: 2 / -1;
    // background-color: skyblue;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__side-quote {
    width: 100%;
    min-width: 35rem;
    display: flex;
    flex-direction: column;
    padding: 0 6rem;
    position: relative;
    bottom: 10rem;
    left: 5rem;
  }

  &__quote,
  &__quote--author {
    color: rgba(0, 0, 0, 0.65);
    font-family: $font-heading;
    display: block;

    line-height: 1.8;
  }
  &__quote {
    overflow: hidden;
    font-size: 2.2rem;
    &--author {
      font-size: 1.7rem;
    }
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    fill: $grey;

    &--quote {
      height: 5rem;
      width: 5rem;
      fill: currentColor;
    }

    &--star {
      height: 1.5rem;
      width: 1.5rem;
      margin: 1px;
    }

    &--yellow {
      fill: darken(yellow, 10%);
    }

    &--grey {
      fill: grey;
    }
  }

  &__icon-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    flex: 1;
  }

  &__icon-links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__icon-links-wrapper > &__icon {
    margin: 2rem 0;
  }

  &__home-icon {
    display: flex;
    align-self: center;
    flex-basis: 10%;
  }

  &__content {
    // background-color: grey;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    //remove the scroll bar on the list view
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      border-radius: 0.5rem;
      transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
      top: 13%;
      height: 65.5%;
      width: 60%;
    }

    &--list-view {
      &::before {
        left: 8%;
        background-color: lighten(tan, 15%);
      }
    }

    &--hidden {
      &::before {
        left: -25%;
        transform: translateX(-100%);
        background-color: lighten(tan, 15%);
      }

      .bp__title {
        transform: translateX(-125%);
      }
    }
  }

  &__title {
    transition: all 1.5s ease;
    position: absolute;
    top: 14%;
    left: 4%;
    font-size: 4.5rem;
    font-weight: 200;
  }

  &__book-list {
    transition: transform 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    display: flex;
    align-content: center;
    margin-bottom: 4rem;
    z-index: 1;

    // &--hidden {
    //   transform: translateX(100%);
    // }
  }

  &__book-img {
    transition: all 1s;
    padding: 0 2rem;
    cursor: pointer;
    position: relative;

    &--border {
      transition: all 0.5s;
      &:hover {
        transform: scale(1.1);
      }
    }

    // &--active {
    //   position: fixed;
    //   transform: scale(1.2);
    //   top: 40%;
    //   left: 37%;
    //   z-index: 5;
    // }

    // &:active ~ &--pulse::after{
    //   animation: pulse 1s ease;
    //   animation-iteration-count: 1;
    //   animation-duration: 2s;
    // }

    &--pulse {
      &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 2px;
        background: transparent;
        border-radius: 50%;
        top: 40%;
        left: 28%;
        pointer-events: none;
        animation: pulse 1s ease;
      }
    }
  }

  &__book-card {
    transition: all 1s;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 2rem;
    grid-gap: 0.3rem;
    opacity: 1;

    &--selected {
      .bp__book-info {
        transform: scale(0);
        opacity: 0;
        z-index: -1;
      }
    }

    &--hidden {
      transform: translateX(400%);
      opacity: 0;
    }
  }

  &__book-info {
    // padding: 2rem;
    opacity: 1;
    transition: all 0.75s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 15rem;
  }

  &__book-title {
    font-family: $font-heading;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  &__ratings {
    display: flex;
  }

  &__link {
    transition: all 0.2s;
    font-size: 1.5rem;
    font-style: none;
    color: $grey;
    text-decoration: none;

    &:hover {
      font-weight: bold;
    }
  }

  &__book-detail-section {
    justify-content: inherit;
  }

  &__book-detail-wrapper {
    background: $color-white;
    display: flex;
    margin: 8%;
    border-radius: 5px;
    overflow: hidden;
    height: 46.5rem;
    width: 92.5rem;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  &__book-detail {
    transition: all 1s;
    padding: 4rem 2rem 15rem 14rem;
    position: relative;
    // flex: 1 1 70%;
    border-right: 2px solid $color-grey;
    visibility: visible;
    width: 75.5rem;

    &--preview {
      // transform: translateX(-100%);
      // transform: translateX(-100%);
      // flex: 0;
      // padding: 0;
      // visibility: collapse;
    }

    &-img {
      position: absolute;
      top: 13rem;
      left: -6rem;
      transform: scale(1.2);
      box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.1);
    }

    &-title {
      font-size: 4rem;
    }

    &-author {
      font-weight: bold;
      margin: 3rem 0;
    }

    &-label {
      color: darken(skyblue, 20%);
      // color: darken(#ccc, 1%);
      display: block;
    }
  }

  &__book-publisher-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5rem 0;
  }

  &__book-preview-menu {
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    display: flex;

    width: 30rem;
    position: relative;
    // padding-right: 8rem;

    &--preview {
      border-right: 2px solid $color-grey;
      // justify-content: flex-end;

      // padding-left: 8rem;
      // transform: translateX(-81rem);
      width: 30rem;

      & > .bp__book-preview-options {
        margin-left: 30%;
      }
    }
  }

  &__book-preview-options {
    transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    height: 100%;
    align-items: center;
    padding: 0 5rem;
  }

  &__menu-option {
    width: 100%;
    text-align: center;
    cursor: pointer;
    z-index: 2;
  }

  svg ~ &__menu-label {
    font-weight: bold;
    white-space: nowrap;
  }

  &__menu-label {
    display: block;
  }

  &__book-excerpt {
    // transition: all 1s;
    // transform: translateX(100%);
    // visibility: hidden;
    width: 62.5rem;

    &--preview {
      // flex: 1 1 80%;
      // flex: 3;
      // visibility: visible;
      // transform: translateX(0);
    }
  }

  &__audible {
  }
}

.book-slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transform-origin: center center;
}
