*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  display: flex;

  --color-primary: #0a122a;

  --color-secondary: #698f3f;

  --color-grey-1: #e7decd;

  --color-grey-dark: #804e49;

  --color-tertiary-light: #2998ff;

  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;

  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;

  --color-bg-light: #fbfaf8;

  --color-bg-dark: #804e49;
  font-family: $font-main;
}

.app {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 8rem repeat(5, 1fr);
  grid-auto-rows: 8rem;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
th {
  font-family: $font-heading;
  // color: $color-white-1;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.9rem;
}

h6 {
  font-size: 1.8rem;
}
